services:
  - type: web
    name: evo-app
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: JAVA_OPTS
        value: -Xmx512m -Xms256m
      - key: SPRING_PROFILES_ACTIVE
        value: production
    healthCheckPath: /
    autoDeploy: true
    buildCommand: ""
    startCommand: ""